@model WorkplaceReservation.Models.EquipmentForWorkplaceViewModel

@{
    ViewData["Title"] = "Equipments For Workplace";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<table class="table table-bordered table-light">
    <thead class="table-success">
        <tr>
            <th>
                Workplace
            </th>
            <th>
                Equipment
            </th>
            <th>
                Equipment Count
            </th>
            <th>
                <a asp-action="AddEquipment" class="btn btn-success btn-sm">Add Equipment</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EquipmentForWorkplaces) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkplaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                <a asp-action="EditEquipment" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a> 
                <a asp-action="DeleteEquipment" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index" class="btn btn-primary">Back to Workplaces</a>
</div>